/* ForexDictionary.module.css */
.container {
  padding: 2rem 0;
}
.container .letterButton {
  background-color: var(--main-color);
  color: white !important;
}
.container .letterButton:hover {
  background-color: var(--main-color);
  color: white !important;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
}

.description {
  text-align: center;
  margin-bottom: 2rem;
  color: #7f8c8d;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  margin-bottom: 2rem;
}

.searchInput {
  max-width: 600px;
  margin: 0 auto;
}

.letterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.letterButton {
  min-width: 40px;
}

.letterSection {
  margin-bottom: 1.5rem;
}

.letterHeading {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.noResults {
  text-align: center;
  margin-top: 2rem;
  color: #e74c3c;
}

.accordionItem {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem !important;
  overflow: hidden;
}

.accordionHeader {
  background-color: #f8f9fa !important;
  /* border: 1px solid var(--main-color); */
}
.accordionHeader button {
  border: none !important;
}

.accordionHeader button {
  font-weight: 600;
  color: #2c3e50;
}

.accordionBody {
  background-color: #ffffff;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6 !important;
}
