.sectionContainer {
  --main-color: #ae1818;
  --main-color2: #191b22;
  --text-color: #333;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  padding: 4rem 0;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.spacerColumn img {
  width: 100%;
  height: auto;
}

.contentWrapper {
  padding: 3rem 2rem;
  position: relative;
  background-color: #f5f7fa;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  z-index: 2;
}

.contentWrapper::after {
  position: absolute;
  content: "";
  background-image: url(../../public/phonebottom1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  bottom: 0px;
  right: -100px;
  height: 230px;
  z-index: -1;
}

.sectionHeading {
  color: var(--main-color2);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.spacer {
  height: 1.5rem;
}

.sectionDescription {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.buttonWrapper {
  margin-top: 1.5rem;
}

.ctaButton {
  display: inline-block;
  font-weight: 700;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease;
}

.ctaButton:hover {
  background-color: #8c1313;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(174, 24, 24, 0.3);
}

.buttonContent {
  display: flex;
  align-items: center;
}

.buttonIcon {
  margin-right: 0.75rem;
  font-size: 1rem;
}

/* Responsive Adjustments */
@media (max-width: 991.98px) {
  .sectionContainer {
    padding: 3rem 0;
  }

  .sectionHeading {
    font-size: 1.75rem;
  }

  .spacerColumn {
    display: none; /* Hide spacer column on tablets */
  }
  .contentWrapper::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .sectionContainer .contentGlobal {
    padding: 2rem !important;
  }

  .sectionHeading {
    font-size: 1.5rem;
    text-align: center;
  }

  .sectionDescription {
    text-align: center;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  .contentWrapper {
    padding: 0;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .spacerColumn {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
