.contant_banner {
  padding-top: 50px;
}
.contant_banner h5 {
  color: var(--main-color);
}
.contant_banner h1 {
  color: var(--main-color2);
  font-size: 3.8rem;
  font-weight: 700;
}
.contant_banner h4 {
  color: var(--main-color2);
  font-size: 1.8rem;
  font-weight: 700;
}
.contant_banner a {
  color: var(--main-color);
  background: transparent;
  border-color: var(--main-color);
  border-style: solid;
  border-width: 1px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 30px;
  margin-top: 20px !important;
}
.contant_banner h1 span {
  background: linear-gradient(to right, #8b0000, #000000); /* brown to black */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reverse {
  height: 450px;
}
@media all and (min-width: 300px) and (max-width: 991px) {
  .contant_banner h1 {
    font-size: 2rem;
  }
  .contant_banner h4 {
    font-size: 1.4rem;
  }
  .reverse {
    text-align: center;
    height: 100vh !important;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .contant_banner h1 {
    font-size: 2.5rem;
  }
  .contant_banner h4 {
    font-size: 1.4rem;
  }
  .reverse {
    padding-top: 30px;
  }
  .contant_banner a {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
