:root {
  --main-color: #ae1818;
  --main-color2: #191b22;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: var(--main-color) !important;
}
a {
  text-decoration: none;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: var(--main-color) !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

body {
  overflow-x: hidden !important;
}
/* Preloader Styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.preloader-content {
  text-align: center;
}

.preloader img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.preloader-description {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #333;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Website Content Styles */
.website-content {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.content-hidden {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .logo {
    max-width: 150px;
  }

  .description {
    font-size: 1rem;
  }

  .progressContainer {
    width: 160px;
  }

  .spinnerContainer {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 120px;
  }

  .description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .progressContainer {
    width: 140px;
    margin-bottom: 1.5rem;
  }

  .spinnerContainer {
    width: 35px;
    height: 35px;
  }
}
/* Add this to your CSS file */
thead {
  background-color: var(--main-color) !important;
  color: white;
}
th,
td {
  text-align: center;
  padding: 13px 0px !important;
}

.ha-table .ha-table__head-column-cell {
  background-color: inherit !important;
  color: white;
  text-align: center;
}
a:hover {
  text-decoration: none !important;
}
