:root {
  --main-color: #ae1818;
  --main-color2: #191b22;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: var(--main-color) !important;
}
a {
  text-decoration: none;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: var(--main-color) !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

body {
  overflow-x: hidden;
}
